@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@500&family=Redressed&display=swap");
/* line 1, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_fuentes.scss */
.font-title {
  font-family: "Cormorant Unicase", serif;
  font-weight: 700;
}

/* line 5, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_fuentes.scss */
.font-medium {
  font-family: "Redressed", sans-serif;
  font-weight: 500;
}

/* line 10, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_fuentes.scss */
.font-small {
  font-family: "Newsreader", serif;
  font-weight: 400;
}

/* line 14, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_fuentes.scss */
.font-large {
  font-family: "Redressed", sans-serif;
  font-weight: 700;
}

/* line 18, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_fuentes.scss */
.biografia-titulo {
  text-align: center;
  font-family: "Cormorant Unicase", serif;
  font-weight: 700;
}

/* line 23, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_fuentes.scss */
.biografia-texto {
  text-align: center;
  font-family: "Redressed", sans-serif;
  font-weight: 400;
}

/* line 1, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
body {
  background-color: #000;
  color: #fff;
}

/* line 6, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.font-medium a {
  font-size: 25px;
}

/* line 10, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.navbar-brand {
  font-size: 55px;
}

/* line 13, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.size-medium {
  font-size: 2rem;
}

/* line 16, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.size-small {
  font-size: 20px;
}

/* line 20, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.colorPrimario {
  color: #512F42;
}

/* line 24, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.colorSecundario {
  color: #D0B99A;
}

/* line 28, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.colorTerciario {
  color: #A77F5B;
}

/* line 32, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.bgPrimario {
  background-color: #512F42;
}

/* line 36, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#navColor {
  background-color: #512F42;
}

/* line 38, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#navColor a {
  color: #D0B99A;
  background-color: #512F42;
}

/* line 44, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.dropdown-menu {
  background-color: #512F42;
}

/* line 46, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.dropdown-menu a {
  color: #fff;
  background-color: #512F42;
}

/* line 58, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.banner {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 500px;
}

/* line 70, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.imagenFondo1 {
  width: 33%;
  background-image: url("../Multimedia/valeria1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* line 74, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.imagenFondo2 {
  width: 33%;
  background-image: url("../Multimedia/valeria2.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* line 78, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.imagenFondo3 {
  width: 33%;
  background-image: url("../Multimedia/valeria5.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* line 82, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.galleria {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 88, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.foto {
  width: 300px;
  height: 300px;
  margin: 20px;
  border: solid 3px #D0B99A;
  overflow: hidden;
}

/* line 96, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.lyrics {
  height: 600px;
  overflow: visible;
  text-align: justify;
}

@media (max-width: 500px) {
  /* line 103, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
  .lyrics {
    overflow: scroll;
  }
}

/* line 108, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.borde {
  border-bottom: solid 3px #D0B99A;
}

/* line 113, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.padreBaner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 118, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#bannerValeria {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* line 123, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#bannerValeria .imgBox {
  width: 300px;
  height: 300px;
}

/* line 126, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#bannerValeria .imgBox img {
  width: 100%;
  height: 300px;
}

@media (max-width: 993px) {
  /* line 133, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
  .imgBox {
    padding: 4px;
  }
}

/* line 138, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#bandCamp {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* line 145, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#bandCamp #bandButton {
  width: 10em;
  font-size: 1em;
  color: #000;
  background-color: #D0B99A;
  border: transparent;
}

/* Contacto Main */
/* line 156, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#contactBox {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

/* line 163, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#contactBox .leftBox {
  width: 30%;
  height: 80vh;
  margin-top: 2rem;
  padding-right: 1rem;
  display: flex;
  justify-content: center;
}

/* line 170, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#contactBox .leftBox img {
  width: 100%;
}

/* line 175, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#contactBox .rightBox {
  width: 30%;
  height: 80vh;
  margin-top: 2rem;
  padding-left: 1rem;
  display: flex;
  justify-content: center;
}

/* line 182, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#contactBox .rightBox img {
  width: 100%;
}

/* line 188, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#contactBox #formBox {
  height: 80vh;
  padding: 10px;
  margin-top: 2rem;
  border: solid 3px #D0B99A;
}

/* line 193, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#contactBox #formBox h1 {
  margin-bottom: 2rem;
}

/* line 196, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#contactBox #formBox p {
  margin-bottom: 2rem;
}

/* Contacto responsive  */
@media (max-width: 983px) {
  /* line 206, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
  .leftBox img {
    display: none;
  }
  /* line 211, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
  .rightBox img {
    display: none;
  }
}

/* Footer Main */
/* line 220, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
footer {
  position: absolute;
  height: 25vh;
  width: 100%;
  border-top: solid 3px #D0B99A;
}

/* line 226, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
footer h5 {
  font-size: 2.5em;
}

/* line 230, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
footer .facebook {
  color: #D0B99A;
  background-color: transparent;
  font-size: 2rem;
}

/*# sourceMappingURL=estilos.css.map */