@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@500&family=Redressed&display=swap");
/* line 1, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_fuentes.scss */
.font-title {
  font-family: "Cormorant Unicase", serif;
  font-weight: 700;
}

/* line 5, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_fuentes.scss */
.font-medium {
  font-family: "Redressed", sans-serif;
  font-weight: 500;
}

/* line 10, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_fuentes.scss */
.font-small {
  font-family: "Newsreader", serif;
  font-weight: 400;
}

/* line 14, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_fuentes.scss */
.font-large {
  font-family: "Redressed", sans-serif;
  font-weight: 700;
}

/* line 18, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_fuentes.scss */
.biografia-titulo {
  text-align: center;
  font-family: "Cormorant Unicase", serif;
  font-weight: 700;
}

/* line 23, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_fuentes.scss */
.biografia-texto {
  text-align: center;
  font-family: "Newsreader", serif;
  font-weight: 400;
}

/* line 3, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
body {
  background-color: #000;
  color: #fff;
}

/* line 8, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
main, section:not(.banner), article:not(.galleria article), footer, #bandCamp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 14, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
article div {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}

/* line 18, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
article div iframe, article div p {
  margin: 50px;
}

/* line 21, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
article div p {
  text-align: justify;
}

/* line 27, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
footer {
  height: 300px;
  justify-content: space-evenly;
}

/* line 32, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
footer div a {
  margin: 10px;
}

/* line 34, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
footer div a i {
  font-size: 35px;
  color: #D0B99A;
}

/* line 37, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
footer div a i:hover {
  transform: scale(1.2);
}

/* line 47, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.navbar-brand {
  font-size: 55px;
}

/* line 51, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#navColor {
  background-color: #512F42;
}

/* line 53, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#navColor a {
  color: #D0B99A;
  background-color: #512F42;
}

/* line 60, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.dropdown-menu {
  background-color: #512F42;
}

/* line 62, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.dropdown-menu a {
  color: #fff;
  background-color: #512F42;
}

/* line 70, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.banner {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}

/* line 75, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.banner article {
  width: 100%;
}

/* line 77, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.banner article img {
  width: 100%;
  height: 460px;
}

/* line 84, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.padreBaner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 90, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#bannerValeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

/* line 95, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#bannerValeria .imgBox {
  width: 250px;
  margin: 15px;
}

/* line 98, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#bannerValeria .imgBox img {
  border-radius: 250px;
  width: 100%;
  height: 250px;
}

/* line 107, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.galleria article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 150px;
  max-width: 1200px;
}

/* line 113, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.galleria article img {
  width: 280px;
  height: 280px;
  margin: 20px;
  border: solid 3px #D0B99A;
}

/* line 120, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.galleria div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  overflow: hidden;
}

/* line 128, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.galleria div div img {
  width: 280px;
  height: 280px;
}

/* line 131, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.galleria div div img:hover {
  transform: scale(1.08);
  opacity: 0.8;
  transition: 0.3s;
}

/* line 142, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#bandButton {
  font-size: 25px;
  color: #D0B99A;
  background-color: transparent;
  border: 1px solid #D0B99A;
}

/* line 147, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#bandButton:hover {
  transform: scale(1.07);
}

/* line 154, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#contactBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px;
  width: 100%;
}

/* line 160, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#contactBox h1 {
  margin-bottom: 60px;
}

/* line 163, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#contactBox div {
  margin: 15px;
}

/* line 166, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#contactBox article {
  width: 500px;
}

/* line 168, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#contactBox article img {
  height: 400px;
}

/* line 172, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
#contactBox p {
  margin-bottom: 2rem;
}

/* line 180, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.size-small {
  font-size: 20px;
}

/* line 185, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.font-medium a {
  font-size: 25px;
}

/* line 190, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.size-medium {
  font-size: 2rem;
}

/* line 194, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.colorPrimario {
  color: #512F42;
}

/* line 198, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.colorSecundario {
  color: #D0B99A;
}

/* line 202, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.colorTerciario {
  color: #A77F5B;
}

/* line 206, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
.bgPrimario {
  background-color: #512F42;
}

@media (min-width: 600px) and (max-width: 900px) {
  /* line 213, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
  article div {
    flex-direction: column;
    align-items: center;
  }
  /* line 216, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
  article div iframe {
    margin: 20px;
  }
  /* line 221, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
  #contactBox {
    flex-direction: column;
  }
  /* line 224, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
  #contactBox article img {
    display: none;
  }
}

@media (max-width: 600px) {
  /* line 231, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
  article div {
    flex-direction: column;
    align-items: center;
  }
  /* line 234, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
  article div iframe {
    max-width: 300px;
  }
  /* line 239, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
  #contactBox {
    flex-direction: column;
  }
  /* line 242, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
  #contactBox article img {
    display: none;
  }
  /* line 247, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
  .biografia-texto {
    font-size: 25px;
    text-align: justify;
    margin: 15px;
  }
  /* line 253, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
  .imgBox {
    display: flex;
    flex-direction: column;
    margin: 3px;
    align-items: center;
  }
  /* line 258, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
  .imgBox img {
    max-width: 200px;
    max-height: 200px;
  }
  /* line 264, ../../../Nueva carpeta/Proyecto final/Proyecto/scss/_main.scss */
  #bandCamp {
    border-bottom: none;
  }
}

/*# sourceMappingURL=estilos.css.map */