.font-title{
    font-family: $fontTitle;
    font-weight: $large;
}
.font-medium{
    font-family: $font;
    font-weight: $medium;

}
.font-small{
    font-family: $fontLyric;
    font-weight: $small;
}
.font-large{
    font-family: $font;
    font-weight: $large;
}
.biografia-titulo{
    text-align: center;
    font-family: $fontTitle;
    font-weight: $large;
}
.biografia-texto{
    text-align: center;
    font-family: $fontLyric;
    font-weight: $small;
}



