body{
    background-color:$bgNegro;
    color:$blanco ;
}
.font-medium {
    a   {
    font-size: 25px;
    }
}
.navbar-brand{
    font-size: 55px;
}
.size-medium{
    font-size: 2rem;
}
.size-small{
    font-size: 20px;
}

.colorPrimario{
    color: $primario;
}

.colorSecundario{
    color: $secundario;
}

.colorTerciario{
    color:$terciario;
}

.bgPrimario{
    background-color: $primario;
}

#navColor{
    background-color:$primario;
        a{
            color: $secundario;
            background-color: $primario;
        }
    
}
.dropdown-menu{
    background-color: $primario;
    a{
    color: $blanco;
    background-color: $primario;
}
}
@mixin banner($imagen){
    width: 33%;
    background-image: $imagen;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner{
    padding: 20px 80px;
    display: flex;
    flex-direction: row;
    align-content:center;
    width: 80%;
    height: 450px;
}
    
.imagenFondo1{
    @include banner($imageBanner1)
    
}
.imagenFondo2{
    @include banner($imageBanner2)
    
}
.imagenFondo3{
    @include banner($imageBanner3)
    
}
.galleria{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    
}
.foto{
    width: 300px;
    height: 300px;
    margin: 20px;
    border:$borde;
    overflow: hidden;
    
}
.lyrics{
    height: 600px;
    width: 800px;
    overflow: auto;
}
@media  (max-width: 500px) {
    .lyrics {
        overflow: scroll;
    }
}

.borde{
    border-bottom: $borde;
    
}
#bannerValeria{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    img{
        width: 30%;
        height: 30vh;;
    } 
}
#bandCamp{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    #bandButton{
        height: 5vh;
        width: 10em; 
        font-size: 1em;
        color: $negro;
        background-color: $secundario;
    }
}

/* Contacto Main */

#contactBox{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .leftBox{
        width: 30%;
        height: 600px;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        img{
            width: 80%;
        }
    }

    .rightBox{
        width: 30%;
        height: 600px;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        img{
            width: 80%;
            
        }
    }

    #formBox{
        width: 40%;
        height: 600px;
        padding: 10px;
        margin-top: 2rem;
        border: $borde;
        h1{
            margin-bottom: 2rem;
        }
        p{
            margin-bottom: 2rem;
        }
    }
}
/* Contacto responsive REVISAR!!!  */

@media  (max-width: 770px) {
    .leftBox{
        width: 0px;
        height: 0px;
        img{
            display: none;
        }
    }
    .rightBox{
        width: 0px;
        height: 0px;
        img{
            display: none;
        }
    }
    #formBox{
        width: 100%;
    }

}

/* Footer Main */

footer{
    position:absolute;
    height: 25vh;
    width: 100%;
    border-top: $borde;

    h5{
        font-size: 2.5em;
    }
    
    .facebook{
        color: $secundario;
        background-color: transparent;
        font-size: 2rem;
    }
}
