body{
    background-color:$bgNegro;
    color:$blanco ;
}
.font-medium {
    a   {
    font-size: 25px;
    }
}
.navbar-brand{
    font-size: 55px;
}
.size-medium{
    font-size: 2rem;
}
.size-small{
    font-size: 20px;
}

.colorPrimario{
    color: $primario;
}

.colorSecundario{
    color: $secundario;
}

.colorTerciario{
    color:$terciario;
}

.bgPrimario{
    background-color: $primario;
}

#navColor{
    background-color:$primario;
        a{
            color: $secundario;
            background-color: $primario;
        }
    
}
.dropdown-menu{
    background-color: $primario;
    a{
    color: $blanco;
    background-color: $primario;
}
}
@mixin banner($imagen){
    width: 33%;
    background-image: $imagen;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner{
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 500px;
}

    
.imagenFondo1{
    @include banner($imageBanner1)
    
}
.imagenFondo2{
    @include banner($imageBanner2)
    
}
.imagenFondo3{
    @include banner($imageBanner3)
    
}
.galleria{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}
.foto{
    width: 300px;
    height: 300px;
    margin: 20px;
    border:$borde;
    overflow: hidden;
    
}
.lyrics{
    height: 600px;
    overflow:visible;
    text-align: justify;
}

@media  (max-width: 500px) {
    .lyrics {
        overflow: scroll;
    }
}

.borde{
    border-bottom: $borde;
    
}

.padreBaner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bannerValeria{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .imgBox{
        width: 300px;
        height: 300px;
        img{
            width: 100%;
            height: 300px;
        }
    }
}
@media  (max-width: 993px) {
    .imgBox {
        padding: 4px;
        
    }
}

#bandCamp{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    #bandButton{
        width: 10em; 
        font-size: 1em;
        color: $negro;
        background-color: $secundario;
        border: transparent;
    }
}

/* Contacto Main */

#contactBox{
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    .leftBox{
        width: 30%;
        height: 80vh;
        margin-top: 2rem;
        padding-right: 1rem;
        display: flex;
        justify-content: center;
        img{
            width: 100%;
        }
    }

    .rightBox{
        width: 30%;
        height: 80vh;
        margin-top: 2rem;
        padding-left: 1rem;
        display: flex;
        justify-content: center;
        img{
            width: 100%;
            
        }
    }

    #formBox{
        height: 80vh;
        padding: 10px;
        margin-top: 2rem;
        border: $borde;
        h1{
            margin-bottom: 2rem;
        }
        p{
            margin-bottom: 2rem;
        }
    }
}
/* Contacto responsive  */

@media  (max-width: 983px) {
    .leftBox{
        
        img{
            display: none;
        }
    }
    .rightBox{
        img{
            display: none;
        }
    }
    
}

/* Footer Main */

footer{
    position:absolute;
    height: 25vh;
    width: 100%;
    border-top: $borde;

    h5{
        font-size: 2.5em;
    }
    
    .facebook{
        color: $secundario;
        background-color: transparent;
        font-size: 2rem;
    }
}
