$negro:#000;
$blanco:#fff;
$bgNegro:#000;
$bgBlanco:#fff;

$font:'Redressed', sans-serif;
$fontTitle:'Cormorant Unicase', serif;
$small:400;
$medium: 500;
$large: 700;

$imageBanner1: url('../Multimedia/valeria1.jpeg');
$imageBanner2: url('../Multimedia/valeria2.jfif');
$imageBanner3: url('../Multimedia/valeria5.jfif');

$borde: solid 3px rgb(128, 3, 3);