$negro:#000;
$blanco:#fff;
$bgNegro:#000;
$bgBlanco:#fff;
$primario:#512F42;
$secundario:#D0B99A;
$terciario: #A77F5B;

$font:'Redressed', sans-serif;
$fontTitle:'Cormorant Unicase', serif;
$fontLyric:'Newsreader', serif;
$small:400;
$medium: 500;
$large: 700;

$borde: solid 3px #D0B99A;
